body{
	margin: 0;
	padding: 0;
}

div#main{
	background-image: url('../img/slice_3.png');
	background-repeat: repeat-x;
	width: 100%;
	min-height: 600px;
}

div#content{
	overflow: hidden;
}

div#fork-me{
	float: right;
}

div#upload-files{
	float: left;
	border: 2px solid #007200;
	min-height: 200px;
	min-width: 40%;
	 margin-left: 30%;
	 margin-right: 30%;
	margin-top: 3%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	background-color: #ffffff;
	position: absolute;
}

div#upload-files-text{
	font-family: Consolas;
	/*color: #009000;*/
	color: #007200;
	margin: 8% 0 12% 12%;
	float: left;
	font-size: 16pt;
}

div#upload-files-holder-button{
	float: right;
	margin-top: 10%;
	margin-right: 8%;
}

button#upload-files-button{
	padding: 10%;
	background-image: url('../img/slice_button.png');
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-family: Consolas;
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
    min-width: 155px;			
}

div#files{
	min-width: 50%;
	margin: 10% 25% 0 25%;
	float: left;
}

ul#file-list{
	list-style-type: none;
	color: #007200;
	font-weight: lighter;
	font-size: 10pt;
	font-family: "monospace";
	padding: 0px;
	margin: 0px;
	width: 100%
}

ul#file-list li{
	/*border-bottom: 1px solid #007200;*/
	border-bottom: 1px solid #6f766f;
	margin-bottom: 18px;
	width: 100%;
	overflow: hidden;
	display: table;

}

div.file-parent{
	display: table;
	width: 100%
}

div.file-image{
	float: left;
	min-height: 32px;
	vertical-align: bottom;
}

div.file-name{
	float:left;
	width: 60%;
	text-align: left;
	min-height: 32px;
	line-height: 32px;

}

div.file-size{
	float:right;
	width: 10%;
	text-align: right;
	min-height: 32px;
	line-height: 32px;
}