body{
	margin: 0;
	padding: 0;
}

div#main{
	background-image: url('../img/slice_3.png');
	background-repeat: repeat-x;
	width: 100%;
	min-height: 768px;
	min-width: 1024px;
}

div#content{
	overflow: hidden;
}

div#fork-me{
	float:right;
}

div#upload-files{
	border: 2px solid #007200;
	min-height: 200px;
	min-width: 40%;
	margin: 3% 30% 0 30%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 10px;
	background-color: #FFFFFF;
}

div#upload-files-text{
	font-family: "Consolas";
	color: #007200;
	margin: 8% 0 12% 12%;
	float: left;
	font-size: 16pt;
}

div#upload-files-holder-button{
	float: right;
	margin-top: 10%;
	margin-right: 8%;
}

button#upload-files-button{
	padding: 10%;
	background-image: url('../img/slice_button.png');
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-family: "Consolas";
	font-size: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
    min-width: 155px;			
}

div#files{
	min-width: 50%;
	margin: 2% 25% 0 25%;
	float: left;
}

ul#file-list{
	list-style-type: none;
	color: #007200;
	font-size: 10px;
	font-family: "monospace";
	padding: 0px;
	margin: 0px;
	width: 100%
}

ul#file-list li{
	border-bottom: 1px solid #6f766f;
	padding: 9px 0 0px 0;
	width: 100%;
	overflow: hidden;
	display: table;
}

ul#file-list li:hover{
	background-color: #EAEEF4;
}

div.file-image{
	float: left;
	min-height: 32px;
	vertical-align: bottom;
}

div.file-name{
	float:left;
	width: 70%;
	text-align: left;
	min-height: 32px;
	line-height: 30px;
	display: table-cell;
	vertical-align: bottom;
}

div.file-size{
	float:left;
	width: 8%;
	text-align: right;
	min-height: 32px;
	line-height: 30px;
}

div.file-download{
	height: 24px;
	float: right;
	line-height: 24px;
	padding: 1px;
	background-color: #B94A48;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	padding: 2px;
	font-size: 14px;
	font-family: Consolas;
	color: #FFFFFF;
	cursor: pointer;
}